<h1>All albums</h1>
<table>
  <tr>
    <th>#</th>
    <th>Owner</th>
    <th>Name</th>
    <th>description</th>
    <th>image</th>
  <tr>
<% @albums.each_with_index do |album,index|%>
  <tr>
    <td><%=index + 1 %></td>
    <td><%= album.owner%></td>
    <td><%= album.name%></td>
    <td><%= album.description%></td>
    <% if album.image.attached?%>
        <%album.image.any? do |img|%>
          <%= cl_image_tag img.key, :width=>150, :crop=>"fill" %>
        <% end %>
    <% end %>

    <td><%= link_to 'Show', album%></td>
  <tr>
  <% end %>
</table>
<%= link_to 'Create a new album', new_album_path%>

