<h1>Album No <%= @album.id%></h1>
<p><strong>Owner: </strong> <span><%= @album.owner%></span> </p>
<p><strong>Album Name: </strong> <span><%= @album.name%></span> </p>
<p><strong>Album description: </strong> <span><%= @album.description%></span> </p>
<%if @album.image.attached?%>
    <%@album.image.each_with_index do |image|%>
    <%= cl_image_tag image.key, :width=>150, :crop=>"fill" %>
    <% end %>
<% end %>
<%= link_to 'Index Page', albums_path%>
